body {
	max-width: 100%;
    padding: 1vw 3vw;
	margin: auto;
    font-family: 'Patrick Hand', cursive;
    color: #191818;
}

header {
/*	border: 1px solid;*/
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto 5vh;
	padding: 2% 1vw;
    background-color: rgb(136, 27, 230);
    color: rgb(242, 242, 242);
}

.refresh-image {
	text-align: right;
}

main {
	display: grid;
	grid-template: auto / 80% 20%;
/*	height: 80vh;*/
}



h3 {
    margin: 0;
}

a {
    color: #4a4949;
}

/*
section {
	border: 1px solid;
}
*/

/*
section div {
	border: 1px solid;
}
*/


.canvas {
	text-align: center;
	margin: 1vh 0;
	position: relative;
    border: 5px solid;
    border-style: double;
    
/*	padding: 5vw;*/
}

img {
/*	margin: 5vh 0;*/
	max-width: 100%;
/*  	height: auto;*/
	max-height: 60vh;
}

.main-fig {
	display: grid;
    background-color: rgb(233, 232, 234);
/*	grid-template: 80% 20% / auto;*/
}

.sidebar {
	display: grid;
    background-color: rgb(233, 232, 234);
}

.palette {
	padding: 2vw;
    
}

.share {
	padding: 1vw;
}

figcaption {
	border: 1px solid;
	padding: 1vw;
    background-color: #c9c9c9;
}

#draw {
	width: 100%; 
	height: 100%; 
    position: absolute;
	top: 0px; 
	left: 0px;
/*    background-color: rgba(255,0,0,.1);*/
}

.colours {
    text-align: center;
    padding: 1vw;
}

.dot {
  height: 5vw;
  width: 5vw;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
}

#purple {
    background-color: rgb(136, 27, 230);
}

#orange {
    background-color: rgb(245, 124, 3);
}

#grey {
    background-color: rgb(200, 196, 203);
}

#green {
    background-color: rgb(98, 222, 7);
}

.contact {
	padding: 2vw;
	vertical-align: bottom;
	place-self: end;
}